.bill-title {
  font-size: 18px;
  font-weight: bold;
}

.card-view {
  max-width: 200px;
  height: 40px;
  justify-content: center;
  align-content: center;
}

.menu-btn {
  height: 75px;
  width: 200px;
  font-size: 16px;
}
